.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}

h1 {
    color: #4070f4;
    /* font-size: larger; */
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    max-width: 350px;
    text-align: center;
	text-decoration: none;
	scroll-behavior: smooth;
	box-sizing: border-box;
    transition: all 0.3s ease;
}

nav > a {
    margin: 10px;
    padding: 10px;
}

nav a:hover {
    color: red;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
}


.form-layout {
    padding: 0 25px;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
}