.Register {
	padding: 0 25px;
	align-items: center;
    /* background-image: url(../../../Assets/Images/sample.jpeg);
    background-repeat: no-repeat;
	background-size: cover; */
}

.Form {
	/* background-color: aliceblue;
	opacity: .5; */
}